<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>e-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
<servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>it.zgiovanni2003.common.Register</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>it.zgiovanni2003.common.Login</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>it.zgiovanni2003.common.Logout</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>AddCategoria</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.AddCategoria</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddCategoria</servlet-name>
    <url-pattern>/addCategoria</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>AddProdotto</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.AddProdotto</servlet-class>
    <multipart-config>
        <max-file-size>10485760</max-file-size> <!-- 10 MB in bytes -->
        <max-request-size>20971520</max-request-size> <!-- 20 MB in bytes -->
    </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>AddProdotto</servlet-name>
    <url-pattern>/addProdotto</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>SelectCategoria</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.SelectCategoria</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SelectCategoria</servlet-name>
    <url-pattern>/admin/selectCategoria</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>DeleteCategoria</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.DeleteCategoria</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteCategoria</servlet-name>
    <url-pattern>/admin/deleteCategoria</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>SelectProdotti</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.SelectProdotti</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SelectProdotti</servlet-name>
    <url-pattern>/admin/selectProdotto</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>DeleteProdotti</servlet-name>
    <servlet-class>it.zgiovanni2003.admin.DeleteProdotti</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteProdotti</servlet-name>
    <url-pattern>/admin/deleteProdotto</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>it.zgiovanni2003.common.AddToCart</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>DeleteToCart</servlet-name>
    <servlet-class>it.zgiovanni2003.common.DeleteToCart</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DeleteToCart</servlet-name>
    <url-pattern>/deleteToCart</url-pattern>
</servlet-mapping> 

<servlet>
    <servlet-name>ViewCart</servlet-name>
    <servlet-class>it.zgiovanni2003.common.ViewCart</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ViewCart</servlet-name>
    <url-pattern>/viewCart</url-pattern>
</servlet-mapping>


<error-page>
    <error-code>404</error-code>
    <location>/components/error404.jsp</location>
</error-page>

<error-page>
    <error-code>500</error-code>
    <location>/components/error500.jsp</location>
</error-page>











</web-app>